@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Core Electronic store</h1>
    <p>Learn about <a href="#">Add New Products, Add Sales, and Purchase data</a>.</p>
</div>

<h3>
    As a New Zealand business we pride ourselves on sourcing affordable electronic products from global distributors that you won’t find in New Zealand stores. We source all things electronic including, sport cameras, tripods, headphones, smart watches, remotes, adapter, cables, microphones, speakers & loads more.

    In our store we feature leading international brands Sjcam, FeiyuTech, Takstar, Awei, Zealot, Dacom, Makibes, Lemfo, Retevis, Toproad and Gamesir
    </h3>
